{% extends 'base.tmpl' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- my_form.html -->
<form method="POST" action="">
    {% csrf_token %}

    {{ SignupForm|crispy }}

    <button class="btn btn-primary" type="submit" value="login">Signup</button>
    <input type="hidden" name="title" value="abc">
    <!-- rest of form -->
</form>
{% endblock %}
